body{
    background-color: #020024 !important;
}
.box{
    width:500px;
    height: auto;
    margin: auto;
    background-color: white !important;
    padding: 20px;
    border-radius: 20px;
    word-break: break-all;
}
.buttons button{
    display: block;
    width: 100%;
    text-align: left;
    margin: 10px 0 !important;
    padding: 10px;
    border-radius: 5px !important;
    font-size: 20px !important;
}
.nextbtn{
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 20px;
   padding: 10px;
}